---
platform: linux

image_resource:
  type: docker-image
  source:
    repository: allomov/chaos-loris-build
    tag: v1.1

run:
  path: pipeline-repo/ci/scripts/build.sh

inputs:
- name: pipeline-repo
- name: chaos-loris-repo
outputs:
- name: binary